In [12]:
library(dplyr)

In [13]:
#readign in the new clean data csv file
clean_car_data <- read.csv("data_clean/clean_train.csv")

In [14]:
#creating the results folder
if (!dir.exists("results")) {
  dir.create("results")
}

In [15]:
#selecting only the name and the mileage column from the dataset
select_NM <- select(clean_car_data, Name, Mileage)
head(select_NM)
write.csv(select_NM, "results/select_NM.csv")

  Name                              Mileage
1 Hyundai Creta 1.6 CRDi SX Option  19.67
2 Honda Jazz V                      18.20
3 Maruti Ertiga VDI                 20.77
4 Audi A4 New 2.0 TDI Multitronic   15.20
5 Nissan Micra Diesel XV            23.08
6 Toyota Innova Crysta 2.8 GX AT 8S 11.36

In [19]:
#displaying the rows which have mileage more than 16
filtered_data <- filter(clean_car_data, Mileage > 16)
write.csv(filtered_data, "results/filtered_data.csv")
head(filtered_data)

  X Name                                Location Year Kilometers_Driven
1 1 Hyundai Creta 1.6 CRDi SX Option    Pune     2015 41000
2 2 Honda Jazz V                        Chennai  2011 46000
3 3 Maruti Ertiga VDI                   Chennai  2012 87000
4 6 Nissan Micra Diesel XV              Jaipur   2013 86999
5 8 Volkswagen Vento Diesel Comfortline Pune     2013 64430
6 9 Tata Indica Vista Quadrajet LS      Chennai  2012 65932
  Fuel_Type Transmission Owner_Type Mileage Engine Power  Seats Price car_age
1 Diesel    Manual       First      19.67   1582   126.20 5     12.50  9
2 Petrol    Manual       First      18.20   1199    88.70 5      4.50 13
3 Diesel    Manual       First      20.77   1248    88.76 7      6.00 12
4 Diesel    Manual       First      23.08   1461    63.10 5      3.50 11
5 Diesel    Manual       First      20.54   1598   103.60 5      5.20 11
6 Diesel    Manual       Second     22.30   1248    74.00 5      1.95 12

In [17]:
#sorting the data based on the power of the cars
arrange(clean_car_data, desc(clean_car_data$Power))

     X    Name                                       Location   Year
1    5781 Lamborghini Gallardo Coupe                 Delhi      2011
2    5521 Bentley Continental Flying Spur            Hyderabad  2006
3    2100 Porsche Cayenne Turbo S                    Mumbai     2010
4    5088 Jaguar XJ 5.0 L V8 Supercharged            Coimbatore 2011
5      70 Porsche Cayenne 2009-2014 Turbo            Mumbai     2008
6    5919 Jaguar F Type 5.0 V8 S                     Hyderabad  2015
7    4627 BMW 6 Series 650i Coupe                    Kochi      2010
8    4821 BMW 6 Series 630i Coupe                    Mumbai     2011
9     148 Audi RS5 Coupe                             Mumbai     2013
10   4061 Audi RS5 Coupe                             Mumbai     2013
11   4691 Mercedes-Benz SLK-Class 55 AMG             Bangalore  2014
12   3341 BMW 7 Series 2007-2012 750Li               Kochi      2010
13   4451 Ford Mustang V8                            Kochi      2018
14   2978 Porsche Panamera 2010 2013 4S              Coimbatore 2010
15   5603 Porsche Panamera 2010 2013 Diesel          Delhi      2013
16   4722 Mercedes-Benz SL-Class SL 500              Kolkata    2010
17   5341 Porsche Cayenne S Diesel                   Coimbatore 2016
18    418 Mercedes-Benz GLC 43 AMG Coupe             Coimbatore 2018
19    589 Mercedes-Benz S Class 2005 2013 S 350 L    Bangalore  2006
20   1930 Mercedes-Benz S Class 2005 2013 S 350 L    Mumbai     2007
21   4342 Mercedes-Benz S Class 2005 2013 S 350 L    Mumbai     2006
22    152 Mercedes-Benz S Class 2005 2013 S 500      Kolkata    2010
23    134 Mercedes-Benz SLC 43 AMG                   Kolkata    2017
24   2095 Mercedes-Benz SLC 43 AMG                   Coimbatore 2019
25   3132 Porsche Cayenne Base                       Kochi      2019
26   3242 Land Rover Range Rover Vogue SE 4.4 SDV8   Bangalore  2012
27   5416 Land Rover Range Rover Vogue SE 4.4 SDV8   Coimbatore 2013
28    459 Audi Q7 4.2 TDI Quattro Technology         Coimbatore 2016
29    586 Audi Q7 4.2 TDI Quattro Technology         Kochi      2014
30   1093 Audi Q7 4.2 TDI Quattro Technology         Bangalore  2014
⋮    ⋮    ⋮                                          ⋮          ⋮
5818 3756 Maruti 800 AC Uniq                         Jaipur     2009
5819 3902 Maruti 800 AC                              Jaipur     2010
5820 3942 Maruti 800 Std BSIII                       Jaipur     2002
5821 5657 Maruti 800 Std                             Jaipur     2002
5822 5926 Maruti 800 DX BSII                         Pune       2000
5823 1221 Ambassador Classic Nova Diesel             Chennai    2003
5824  105 Maruti Omni 5 Str STD                      Coimbatore 2010
5825  257 Maruti Omni MPI CARGO BSIII W/ IMMOBILISER Jaipur     2011
5826  313 Maruti Omni 8 Seater BSIV                  Hyderabad  2012
5827  602 Maruti Omni 8 Seater BSII                  Pune       2010
5828 1127 Maruti Omni 8 Seater BSIV                  Coimbatore 2016
5829 1546 Maruti Omni 8 Seater BSIV                  Hyderabad  2013
5830 1713 Tata Nano Lx                               Pune       2011
5831 1801 Tata Nano Lx BSIV                          Kochi      2012
5832 2252 Maruti Omni 8 Seater BSIV                  Hyderabad  2015
5833 2293 Tata Nano Lx                               Coimbatore 2013
5834 2491 Maruti Omni 8 Seater BSIV                  Mumbai     2011
5835 2605 Tata Nano Cx                               Jaipur     2010
5836 3107 Maruti Omni 8 Seater BSIV                  Hyderabad  2017
5837 3155 Maruti Omni 8 Seater BSII                  Jaipur     2012
5838 3742 Maruti Omni 8 Seater BSIV                  Hyderabad  2017
5839 4806 Maruti Omni 8 Seater BSII                  Jaipur     2004
5840 5690 Maruti Omni 5 Seater BSIV                  Coimbatore 2019
5841  790 Maruti Omni E 8 Str STD                    Hyderabad  2013
5842 1008 Maruti Omni E MPI STD BS IV                Kochi      2019
5843 1912 Maruti Omni E MPI STD BS IV                Mumbai     2013
5844 2196 Maruti Omni MPI STD BSIV                   Coimbatore 2017
5845 2849 Maruti Omni MPI CARGO BSIV                 Kolkata    2015
5846 3091 Maruti Omni E MPI STD BS IV                Jaipur     2015
5847 3321 Maruti Omni MPI STD BSIV                   Jaipur     2012
     Kilometers_Driven Fuel_Type Transmission Owner_Type Mileage Engine Power
1      6500            Petrol    Automatic    Third       6.40   5204   560.00
2     48000            Petrol    Automatic    First       8.60   5998   552.00
3     35000            Petrol    Automatic    Second     11.90   4806   550.00
4     43686            Petrol    Automatic    First      10.50   5000   503.00
5     73000            Petrol    Automatic    First       8.50   4806   500.00
6      8000            Petrol    Automatic    First      12.50   5000   488.10
7     65329            Petrol    Automatic    First       7.94   4395   450.00
8      5900            Petrol    Automatic    First       7.94   4395   450.00
9     23000            Petrol    Automatic    First      11.05   2894   444.00
10    23312            Petrol    Automatic    First      11.05   2894   444.00
11     3000            Petrol    Automatic    Second     12.00   5461   421.00
12    50161            Petrol    Automatic    First       8.77   4395   402.00
13    21290            Petrol    Automatic    First      13.00   4951   395.00
14    42400            Petrol    Automatic    Third       8.00   4806   394.30
15    36400            Diesel    Automatic    First       7.50   4806   394.30
16    35000            Petrol    Automatic    First       8.10   5461   387.30
17    65003            Diesel    Automatic    First      13.60   4134   382.00
18    22397            Petrol    Automatic    First      11.50   2996   367.00
19    47088            Petrol    Automatic    Second     10.13   3498   364.90
20    55000            Petrol    Automatic    Third      10.13   3498   364.90
21   103000            Petrol    Automatic    First      10.13   3498   364.90
22    35277            Petrol    Automatic    First       7.81   5461   362.90
23    13372            Petrol    Automatic    First      19.00   2996   362.07
24     2526            Petrol    Automatic    First      19.00   2996   362.07
25    14298            Petrol    Automatic    First      13.33   2995   340.00
26    63000            Diesel    Automatic    Second     11.49   4367   335.30
27    75995            Diesel    Automatic    Second     11.49   4367   335.30
28    51002            Diesel    Automatic    First      11.33   4134   335.20
29    79926            Diesel    Automatic    First      11.33   4134   335.20
30    50000            Diesel    Automatic    First      11.33   4134   335.20
⋮    ⋮                 ⋮         ⋮            ⋮          ⋮       ⋮      ⋮
5818  22100            Petrol    Manual       Second     16.1     796   37.0
5819  70000            Petrol    Manual       Second     16.1     796   37.0
5820  53500            Petrol    Manual       Second     16.1     796   37.0
5821  75000            Petrol    Manual       First      16.1     796   37.0
5822  78000            Petrol    Manual       First      16.1     796   37.0
5823  80000            Diesel    Manual       Third      12.8    1489   35.5
5824  93850            Petrol    Manual       First      14.0     796   35.0
5825  35000            Petrol    Manual       Third      19.7     796   35.0
5826  71791            Petrol    Manual       First      14.0     796   35.0
5827  60000            Petrol    Manual       First      19.7     796   35.0
5828  55137            Petrol    Manual       First      14.0     796   35.0
5829  34834            Petrol    Manual       First      14.0     796   35.0
5830  65000            Petrol    Manual       Second     26.0     624   35.0
5831   4187            Petrol    Manual       First      26.0     624   35.0
5832  52950            Petrol    Manual       First      14.0     796   35.0
5833  37287            Petrol    Manual       First      26.0     624   35.0
5834  39000            Petrol    Manual       First      14.0     796   35.0
5835  57000            Petrol    Manual       First      26.0     624   35.0
5836  21260            Petrol    Manual       First      14.0     796   35.0
5837  65000            Petrol    Manual       First      19.7     796   35.0
5838  24571            Petrol    Manual       First      14.0     796   35.0
5839  66624            Petrol    Manual       Third      19.7     796   35.0
5840   4721            Petrol    Manual       First      14.0     796   35.0
5841  26875            Petrol    Manual       First      16.8     796   34.2
5842  11571            Petrol    Manual       First      16.8     796   34.2
5843  11734            Petrol    Manual       First      16.8     796   34.2
5844  15473            Petrol    Manual       First      16.8     796   34.2
5845  23000            Petrol    Manual       First      16.8     796   34.2
5846  15000            Petrol    Manual       First      16.8     796   34.2
5847 126000            Petrol    Manual       First      16.8     796   34.2
     Seats Price  car_age
1    2     120.00 13
2    4      59.00 18
3    5      32.00 14
4    4      50.66 13
5    5      14.50 16
6    2     100.00  9
7    4      20.72 14
8    4      47.50 13
9    4      37.00 11
10   4      40.50 11
11   2      90.00 10
12   5      25.93 14
13   4      56.80  6
14   4      42.91 14
15   4      72.00 11
16   2      29.50 14
17   5      67.83  8
18   5      70.99  6
19   5      19.00 18
20   5       9.99 17
21   5       8.85 18
22   5      30.00 14
23   2      54.00  7
24   2      83.96  5
25   5       2.02  5
26   5      65.00 12
27   5      65.81 11
28   7      48.91  8
29   7      29.77 10
30   7      51.00 10
⋮    ⋮     ⋮      ⋮
5818 4     0.80   15
5819 4     0.90   14
5820 4     0.63   22
5821 4     0.51   22
5822 4     0.55   24
5823 5     1.35   21
5824 5     2.41   14
5825 5     1.85   13
5826 5     2.05   12
5827 8     1.45   14
5828 5     3.11    8
5829 5     2.60   11
5830 4     0.44   13
5831 4     1.38   12
5832 5     2.35    9
5833 4     1.74   11
5834 5     1.50   13
5835 4     0.50   14
5836 5     2.90    7
5837 8     1.55   12
5838 5     2.90    7
5839 8     0.85   20
5840 5     4.11    5
5841 8     2.35   11
5842 8     3.80    5
5843 8     2.25   11
5844 5     3.58    7
5845 5     1.50    9
5846 8     2.35    9
5847 5     1.60   12

In [18]:
#summarise
data_summary <- clean_car_data %>%
  group_by(Transmission) %>%
  summarise(
  N = n(),
  highest_Power = max(Power),
  lowerst_Power = min(Power),
  total_Diesel = sum(Fuel_Type == "Diesel"),
  Avg_Mileage = mean(Mileage),
  )
  data_summary
  write.csv(data_summary, "results/data_summary.csv")

  Transmission N    highest_Power lowerst_Power total_Diesel Avg_Mileage
1 Automatic    1712 560           37.48         1106         15.75194
2 Manual       4135 210           34.20         2055         19.15865